{% extends 'master.html' %}

{% block content %}

<p class="h2 text-center">Dugmici</p>
<br>
<div class="container">
<div class="row">
	<div class="col-sm">
		<p>Prosecna cena dugmica: {{ dug_prosecna_cena.cena_deset_dugmica__avg }} din</p>
		<p>Najjeftiniji dugmici: {{ najjeftinije_dug.boja }} gde je cena 10 dugmica {{ najjeftinije_dug.cena_deset_dugmica }} din. </p>
		<p>Najskuplji dugmici: {{ najskuplje_dug.boja }} gde je cena 10 dugmica {{ najskuplje_dug.cena_deset_dugmica }} din.</p>
	</div>
</div>
<form action="{% url 'novo_dugme' %}" method="get">
	{% csrf_token %}
	<br>
	<button type="submit" class="btn btn-success">Dodaj</button>
</form>
<br>
  <div class="row">
    <div class="col-sm">
      <ul class="list-group">
		{% for dug in dugmici %}
			<li class="list-group-item">Boja: {{ dug.boja }} | Preostala kolicina: {{ dug.kolicina }} | Cena 10 dugmica: {{ dug.cena_deset_dugmica }} din </li>
			<div class="row">
				<div class="col">
					<div class="col-md-1">
						<form action="{% url 'izmeni_dugme' dug.dugmiciid %}" method="get">
							{% csrf_token %}
							<button type="submit" class="btn btn-warning">Izmeni</button>
						</form>
					</div>
					<div class="col-md">
						<form action="{% url 'izbrisi_dugme' dug.dugmiciid %}" method="get">
							{% csrf_token %}
							<button type="submit" class="btn btn-danger">Obrisi</button>
						</form>
					</div>
				</div>
			</div>
			<br>
		{% endfor %}
	  </ul>
    </div>
  </div>
	<br>
	<form action="{% url 'home' %}" method="get">
		{% csrf_token %}
		<br>
		<button type="submit" class="btn btn-warning">Nazad</button>
	</form>
</div>

{% endblock %}