{% extends 'master.html' %}

{% block content %}

{% if error %}
	<i style="color: red">{{ error }}</i>
	<br>
{% endif %}

<form action="{% url 'izmeni_materijal' id %}" method="post">
		{% csrf_token %}
		<table border="1" style="width: 30%;">
			{{form}}
		</table>
		<input type="submit" value="Submit" class="btn btn-danger">
	</form>
	
	<style>
		td {
		  padding: 7px;
		  width: 40%;
		}
	</style>
	
	<br>
	<br>
	<form action="{% url 'materijali' %}" method="get">
		{% csrf_token %}
		<br>
		<button type="submit" class="btn btn-warning">Nazad</button>
	</form>

{% endblock %}