{% extends 'master.html' %}

{% block content %}

<p class="h2 text-center">Materijali</p>
<br>
<div class="container">
	<div class="row">
		<div class="col-sm">
			<p>Ukupna preostala duzina: {{ mat_ukupno_metara.preostala_duzina__sum }} m</p>
			<p>Prosecna cena materijala: {{ mat_prosecna_cena.cena_po_metru__avg }} din po metru</p>
			<p>Najjeftiniji materijal: {{ najjeftiniji_mat.naziv }} {{ najjeftiniji_mat.boja }} koji kosta {{ najjeftiniji_mat.cena_po_metru }} din po metru. </p>
			<p>Najskuplji materijal: {{ najskuplji_mat.naziv }} {{ najskuplji_mat.boja }} koji kosta {{ najskuplji_mat.cena_po_metru }} din po metru.</p>
		</div>
	</div>
	<form action="{% url 'novi_materijal' %}" method="get">
		{% csrf_token %}
		<br>
		<button type="submit" class="btn btn-success">Dodaj</button>
	</form>
	<br>
  <div class="row">
    <div class="col-sm">
      <ul class="list-group">
		{% for mat in materijali %}
			<li class="list-group-item">Naziv: {{ mat.naziv }} | Boja: {{ mat.boja }} | Preostala duzina: {{ mat.preostala_duzina }} | Cena po metru: {{ mat.cena_po_metru }} din </li>
			<div class="row">
				<div class="col-md-1">
					<form action="{% url 'izmeni_materijal' mat.materijalid %}" method="get">
						{% csrf_token %}
						<button type="submit" class="btn btn-warning">Izmeni</button>
					</form>
				</div>
				<div class="col-md">
					<form action="{% url 'izbrisi_materijal' mat.materijalid %}" method="get">
						{% csrf_token %}
						<button type="submit" class="btn btn-danger">Obrisi</button>
					</form>
				</div>
			</div>
			<br>
		{% endfor %}
	  </ul>
    </div>
  </div>
	<br>
	<br>
	<form action="{% url 'home' %}" method="get">
		{% csrf_token %}
		<br>
		<button type="submit" class="btn btn-warning">Nazad</button>
	</form>
</div>

{% endblock %}